@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

.conut{
    border-radius: 14px;
    border: 3px solid rgb(74, 74, 74);
    background: linear-gradient(158deg, rgb(0, 0, 0) 10.11%, rgba(27, 27, 27, 0.79) 39.39%, rgb(35, 35, 35) 95.29%);
    height: 70px;
     width: 65px;
}

