@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

.conut{
    border-radius: 14px;
    border: 3px solid rgb(74, 74, 74);
    background: linear-gradient(158deg, rgb(0, 0, 0) 10.11%, rgba(27, 27, 27, 0.79) 39.39%, rgb(35, 35, 35) 95.29%);
    height: 70px;
     width: 65px;
}

.slick-dots {
    bottom: -40px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #22c55e;
    opacity: 0.25;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #22c55e;
  }
  
  .slick-slide > div {
    margin: 0 8px;
  }
  
  .slick-list {
    margin: 0 -8px;
  }